@media screen and (max-width:576px){
    .navbar, .nav-link, .teams, .features{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .team-img-container img{
    width: 100%;
}

    .our-features{
        margin-left: 20px;
    }
    .facts-container{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
    .sponsore-companies{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }

   #experience-badge{
    padding: 10px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}
#experiecne-year{
    font-size: 2rem;
    font-weight: 700;
}

}

/* mediaum devive response */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .sponsore-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

       #experience-badge{
    padding: 10px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}
#experiecne-year{
    font-size: 2rem;
    font-weight: 700;
}

  
}